<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="soko.ekibun.bangumi.plugins"
          android:sharedUserId="soko.ekibun.bangumi.share"
          android:sharedUserLabel="@string/share_label">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <service
                android:name=".Plugin"
                android:exported="true"
                tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="soko.ekibun.bangumi.plugins"/>
            </intent-filter>
        </service>
        <activity
                android:name=".ui.setting.SettingsActivity"
                android:label="@string/settings"
                android:exported="true">
            <intent-filter>
                <action android:name="soko.ekibun.bangumi.plugins.setting"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.provider.ProviderActivity"
                android:label="@string/provide_activity_label"/>
    </application>
</manifest>
